@import "bourbon/bourbon";
@import "neat/neat";
$max-width: 100em;
#myOtherGames, #publicGames{
  @include outer-container;
  .lobbyRow, .lobbyHeader{
    .colOne { @include span-columns(3);}
    .colTwo {@include span-columns(3);
      word-break:break-all;
    }
    .colThree {@include span-columns(2);}
    .colFour {@include span-columns(2);}
    .colFive {@include span-columns(2);@include omega;}
  }
}
$grid-columns: 12;
#myGames{
  @include outer-container;
  .lobbyRow, .lobbyHeader{
    span{}
    .colOne { @include span-columns(2);}
    .colTwo {@include span-columns(3 );
      word-break:break-all;
    }
    .colThree {@include span-columns(2 );}
    .colFour {@include span-columns(2 );}
    .colFive {@include span-columns(3);@include omega;}
  }
}
#myMultiGames{
  @include outer-container;
  .lobbyRow, .lobbyHeader{
    span{}
    .colOne { @include span-columns(1.5);}
    .colTwo {@include span-columns(2.5 );
      word-break:break-all;
    }
    .colThree {@include span-columns(2 );}
    .colFour {@include span-columns(2 );}
    .colFive {@include span-columns(2);}
    .colSix {@include span-columns(2);@include omega;}
  }
}
.lobbyRow, .lobbyHeader{
  clear:both;
  padding: 5px 0;
}
.clear{
  clear:both;
}

#multiPlayerGames{
  background-color:rgba(170,170,170,.4);
  padding-bottom:20px;
  border:5px solid rgba(130,130,130,.4);
  h2{
    color:black;
  }
}
body{
background-repeat: no-repeat;
color: #666;
background-position: center top;
height: 100%;

}

ul .lobbyHeader:hover, ul .lobbySpacer:hover{
  background-color:transparent;
}



h3 {
  font-size: 16px;
}

span {
  display: inline-block;
}

.bold {
  font-family: Lucida;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}

h2 {
  font-style: italic;
}

li {
  list-style: none;
}

.myTurn {
  color: white;
  text-shadow: 0px 0px 3px green, 0px 0px 3px green, 0px 0px 3px green, 0px 0px 3px green;
}
.gameOver {
  color: white;
  text-shadow: 0px 0px 3px red, 0px 0px 3px red, 0px 0px 3px red, 0px 0px 3px red;
}

.odd {
  background: rgba(66, 66, 66, .4);
}

a {
  color: black;
  font-size: 120%;
}

#logout {
  color: white;
  text-shadow: 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00, 0 0 3px #c00;
  text-decoration: none;
}

#create {
  color: white;
  text-shadow: 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0, 0 0 3px #0c0;
  text-decoration: none;
  border-bottom: 3px solid #afa;
  font-family: sans-serif;
  font-style: italic;
}

ul {
  padding: 5px 10px 15px;
  border-radius: 10px;
  background: rgba(92, 92, 92, 0.50);
  color: white;
}

ul a {
  color: white;
}
ul .lobbyRow:hover {
  background: rgba(0, 0, 0, .5);
}

#content{
  color: black;
  min-width: 900px;

  border-radius: 20px;
  border: 5px solid gray;
  padding: 15px 30px 15px 15px;
  background: rgba(160, 160, 160, .15);
  width: 80%;
  margin: 0 auto;
}