@import "bourbon/bourbon";
@import "neat/neat";
$grid-columns: 6;
#container{
  width: 60%;
  max-width:650px;
  margin-bottom:50px;
  margin:0 auto;
  header{
    border:1px solid black;
    border-radius:10px;
    width:20%;
    position:fixed;
    left:0px;
    top:0px;
    h2{
      display:inline-block;
    }
  }

}
#container.wideGame{
  width:90%;
  max-width:100em;
  margin-bottom:100px;
  #mapImage{
    width:280px;
  }
}

@media screen and (min-width:900px){
  #container.wideGame{
    max-width:100em;
    margin-bottom:100px;
    #mapImage{
      width:300px;
    }
  }
}

@media screen and (min-width: 1230px){
  #container.wideGame{
    max-width:100em;
    margin-bottom:100px;
    #mapImage{
      width:500px;
    }
  }
}



.wordpress-wrapper a,
.wordpress-wrapper b {
  margin: 0 .2em;
}


#theGrid{
  @include outer-container;

  .leftGrid, .rightGrid{
    padding-top:20px;
    @include span-columns(3);
  }
}
$grid-columns: 12;

#theGamesGrid{
  @include outer-container;

  .gridRow{
    margin-bottom:50px;
    padding-top:10px;
    border-top:3px solid #999;
  }
  .leftGrid, .rightGrid{
    @include span-columns(5);
    word-wrap: break-word;
  }
   img{
    @include span-columns(6);
  }
}
$grid-columns: 6;

#theGameGrid{
  @include outer-container;

  .leftGrid, .rightGrid{
    @include span-columns(3);
  }
}

.softVoice{
  color:#999;
  font-size:70%;
}
a:hover{
//  color:#999;
}
 .scenarioDescription{

  background: #eee;

  padding: 5px;
  display:block;
  margin:20px 0 0;
   font-size:25px;
   border-radius:10px;

}
.scenarioWrapper, .breadcrumb{

  background: #eee;
  border: 5px solid #aaa;
  border-radius: 10px;
  padding: 5px;
  display:block;
  margin:20px 0 0;
}
.scenarioWrapper{
  float:left;
  cursor:pointer;
  &.selected {
    background-color: yellow;
  }
}
.scenarioWrapper.selected.long-description{
  background: #feffcd;
}
.clear{
  clear:both;
  heigt:0px;
  width:0px;
  padding:0px;
  margin:0px;
  border:none;
}

.coolBox {
  font-size: 22px;
  background: rgba(255, 255, 255, .9);
  border: 1px solid #333;
  border-radius: 15px;
  margin: 40px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(20, 20, 20, .7);
}

.clearWrapper{
  background:transparent;
  border:none;
  border-radius:0;
  box-shadow:none;
  padding:0;
  margin:0;
}
input {
  margin-left: 15px;
}

a {
  color: #333;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px 0;
}

.gameDesc {
  width: auto;
}

li.game {
  border-bottom: 1px solid #333;
}

.breadcrumb {
  display:inline-block;
}
.attribution{
  position:fixed;
  bottom:0;
  &:before{
    content:"Image by: ";
    font-style: italic;
  }
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;

  background-color:rgba(255,255,255,.9);
  text-align: center;

  padding: 5px 10px 15px;
  border-radius: 10px;
  margin-bottom:15px;
  box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.7)
}
.play-button{
  font-size: 30px;
  border-radius:10px;
  border: 10px solid #9f9;
  background: #cfc;
}
.play{
  background: #cfc;
  border-color: #9f9;
  &:hover{
    border-color: #9f9;
  }
}

.go-button{
  font-size: 30px;
  border-radius:10px;
  border: 10px solid #9f9;
  background: #cfc;
}
