* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#container {
  max-width: 30em; }

#container.wideGame {
  max-width: 100em; }

#theGrid {
  max-width: 100em;
  margin-left: auto;
  margin-right: auto; }
  #theGrid:after {
    content: "";
    display: table;
    clear: both; }
  #theGrid .leftGrid, #theGrid .rightGrid {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    #theGrid .leftGrid:last-child, #theGrid .rightGrid:last-child {
      margin-right: 0; }

#theGameGrid {
  max-width: 100em;
  margin-left: auto;
  margin-right: auto; }
  #theGameGrid:after {
    content: "";
    display: table;
    clear: both; }
  #theGameGrid .leftGrid, #theGameGrid .rightGrid {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    #theGameGrid .leftGrid:last-child, #theGameGrid .rightGrid:last-child {
      margin-right: 0; }

.softVoice {
  color: #999;
  font-size: 70%; }

.scenarioWrapper, .breadcrumb {
  background: #eee;
  border: 5px solid #aaa;
  border-radius: 10px;
  padding: 5px;
  display: block;
  margin: 20px 0; }
  .scenarioWrapper:hover, .breadcrumb:hover {
    background: #fff;
    border-color: #999; }

div {
  font-size: 22px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #333;
  border-radius: 15px;
  margin: 40px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.7); }

input {
  margin-left: 15px; }

a {
  color: #333; }

ul {
  list-style-type: none; }

li {
  margin: 5px 0; }

.gameDesc {
  width: auto; }

li.game {
  border-bottom: 1px solid #333; }

.breadcrumb {
  display: inline-block; }
